/node_modules
/public/hot
/public/storage
/storage/*.key
/public/img
/public/upload
/public/js
/public/css
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
