@font-face {
    font-family: 'KimjungchulMyungjo-Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'KimjungchulMyungjo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
          
* {
    margin: 0;
    padding: 0;
    /* font-family: 'KimjungchulMyungjo-Bold'; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}


a {
    color: #000;
}

ul {
    list-style: none;
    /* background-color: blueviolet; */
}

li {
    display: inline-block;
    position: relative;
    color: #000;
}

li a {
    display: block;
    padding: 15px 30px;
    /* color: #fff; */
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul.dropdown {
    width: 100%;
    margin-top: 5px;
    position: absolute;
    z-index: 999;
    display: none;
    box-shadow: 5px 5px 7px #BDBDBD;
}

/* ul li:hover {
    box-shadow: 0px 3px 0px  #2986FF;
} */

ul li:hover ul.dropdown {
    display: block;
    width: 100%;
}

.dropdown-sub {
    text-align: center;
    padding: 10px;
    color: #0D1053;
    background-color: #fff;
}

.dropdown-sub:hover {
    background-color: #e6e6e6;
    box-shadow: 0px 2px 0px  #2986FF;
}


/* 헤더 */
.header-logo {
    width: 120px;
    margin: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-btn-group {
    margin: 50px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
}


/* 네비게이터 애니메이션 */

#header-nav-menu {
    display: flex;
    flex-direction: row;
    /* margin-left: 50px; */
    overflow: hidden;
}


/* #header-nav-menu > li:hover {
    transition-duration: 0.5s;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
} */

.header-nav-cate {
    position: relative;
    color: #000;
    text-align: center;
    margin-left: 100px;
    font-size: 20px;
    cursor: pointer;
}

.header-nav-cate::after {
    display:block;
    content: "";
    margin: auto;
    width: 0;
    height: 3px;
    background-color: #006BF5;    
    transition: width 0.3s;
}

.header-nav-cate:hover::after {
    width: 100%;
}

.header-nav-cate:hover {
    color: #006BF5;
}

.nav-menu-sub {
    /* position: absolute; */
    /* display: flex;
    flex-direction: column; */
    display: none;
}

/* 햄버거 버튼 */
#header-hamburger-menu {
    display: none;
    cursor: pointer;
}

#header-hamburger-menu div {
    width: 25px; 
    height: 3px; 
    background-color: #000;
    margin: 6px 0; 
}

/* 푸터 */
footer {
    background-color: #EFEFEF;
    padding-top: 50px;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    /* padding: 0 100px; */
}

.footer-content h3 {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 5px;
    text-align: center;
}

.footer-content span {
    font-size: 18px;
    font-weight: 500;
}

.footer-content ul {
    text-align: center;
}

.footer-list {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer-list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #006BF5;
    transition-duration: .5s;
}

li:hover::before {
    width: 100px;
}

.footer-bottom-bar {
    background-color: #dbdbdb;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}


/* 버튼 */
.btn {
    border-radius: 20px;
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-header {
    width: 130px;
    margin-left: 20px;
}

.btn-bg-blue {
    background-color: #2986FF;
    color: #fff;
}

.btn-bg-blue:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 0 2px #2986FF inset;
    transition: 0.1s ease-out;
}

.btn-bg-gray {
    background-color: #BDBDBD;
    color: #fff;
}

.btn-bg-gray:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 0 2px #BDBDBD inset;
    transition: 0.1s ease-out;
}

.btn-search {
    width: 100px;
    margin-left: 20px;
}

.header-btn-etc {
    display: none;
}

/* 반응형 처리 */

@media screen and (max-width: 600px) {
    #header-hamburger-menu {
        display: block;
    }
    .header-nav{
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    li a {
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {

}