@font-face {
    font-family: 'KimjungchulMyungjo-Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'KimjungchulMyungjo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
          
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'KimjungchulMyungjo-Bold'; */
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

/* 헤더 */
.header-container {
    
}

.header-logo {
    width: 120px;
    margin: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-btn-group {
    margin: 50px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/* 네비게이터 애니메이션 */

#header-nav-menu {
    display: flex;
    flex-direction: row;
    /* margin-left: 50px; */
    overflow: hidden;
}


/* #header-nav-menu > li:hover {
    transition-duration: 0.5s;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
} */

.header-nav-cate {
    position: relative;
    color: #000;
    text-align: center;
    margin-left: 100px;
    font-size: 20px;
    cursor: pointer;
}

.header-nav-cate::after {
    display:block;
    content: "";
    margin: auto;
    width: 0;
    height: 3px;
    background-color: #006BF5;    
    transition: width 0.3s;
}

.header-nav-cate:hover::after {
    width: 100%;
}

.header-nav-cate:hover {
    color: #006BF5;
}

.nav-menu-sub {
    /* position: absolute; */
    /* display: flex;
    flex-direction: column; */
    display: none;
}









/* 햄버거 버튼 */
#header-hamburger-menu {
    display: none;
    cursor: pointer;
}

#header-hamburger-menu div {
    width: 25px; 
    height: 3px; 
    background-color: #000;
    margin: 6px 0; 
}

/* 푸터 */
.footer-container {
    background-color: #EFEFEF;
    position : relative;
    /* transform : translateY(-100%); */
    padding: 20px;
    bottom: 0;
}


/* 버튼 */
.btn {
    border-radius: 20px;
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
}

.btn-header {
    width: 130px;
    margin-left: 20px;
}

.btn-bg-blue {
    background-color: #2986FF;
    color: #fff;
}

.btn-bg-blue:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 0 2px #2986FF inset;
    transition: 0.1s ease-out;
}

.btn-bg-gray {
    background-color: #BDBDBD;
    color: #fff;
}

.btn-bg-gray:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 0 2px #BDBDBD inset;
    transition: 0.1s ease-out;
}

.header-btn-etc {
    display: none;
}


@media screen and (max-width: 1200px) {
    #header-hamburger-menu {
        display: block;
    }
    .header-nav-cate{
        
    }
}

@media screen and (max-width: 600px) {
    #header-hamburger-menu {
        display: block;
    }
    .header-nav-cate{
        display: none;
    }
}